// https://webcolourdata.com/
// https://flatuicolors.com/
// https://colorwise.io/


// Colors

// red
$strong-red: #CC4A30;
$light-red: #E82A37;
$red: #D82732;
$dark-red: #A64847;
$matte-red: #F35E4C;

// blue
$light-blue: #5191FD;
$blue: #1647E9;
$strong-blue: #133AD9;
$dark-blue: #3C74F7;
$matte-blue: #1C54F5;

// green
$green: #0DA921;

// yellow
$yellow: #F6A615;


// Fonts
$small: 16px;
$medium: 20px;
$big: 48px;

// Padding
$large-padding: 10px 15px;
$big-padding: 20px 30px;


// Border
$default-margin-top: 30px;
$big-margin-top: 90px;
$big-margin-bottom: 90px;
$border-radius: 4px;
